.navLogo{
    width:100px;
    height:180px;
}


.select {
  background: transparent;
  border: none;
  color: #00315E; 
  font-size: 17px;
  outline: none;
  font-weight: 500;

}
.notification{
  margin-right: 15px ;
}


